@use "packages/normalize.css";
@use "fonts/microns.scss";
@use "fonts/fontello";
@use "foundations/variables";
@use "foundations/base";
@use "foundations/layout";
@use "foundations/m-fujList";
@use "foundations/m-checkbox";
@use "foundations/m-tooltip";
@use "foundations/p-search";

.debug {
  width: 100%;
  height: 100%;
  display: block;
}

.openImage {
  img {
    display: block;
    width: 320px;
    height: 240px;
    object-fit: fill;
    image-rendering: -webkit-optimize-contrast;
  }
}

.list-view {
  width: 100%;
}