@use "packages/normalize.css";
@use "fonts/microns.scss";
@use "fonts/themify";
@use "fonts/fontello";
@use "foundations/variables";
@use "foundations/base";
@use "foundations/layout";
@use "foundations/m-fujList";
@use "foundations/m-checkbox";
@use "foundations/m-tooltip";
@use "foundations/m-popup";
@use "foundations/m-tab";
@use "foundations/p-search";
@use "foundations/p-info";
@use "foundations/p-title";

.debug {
  width: 100%;
  height: 100%;
  display: block;
}



.list-view {
  width: 100%;
}